.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: inherit;
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    // background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .ant-form-item-label > label {
      color: #000000;
    }
  
    .ant-input,
    .ant-input-password {
      color: #000000;
      background-color: #ffffff;
    }
  
    .signup-button {
      width: 100%;
    }
  }